
/*****************************************
General
******************************************/
.row {
 	width: 100%;
}

.container {
	width: 90%;
	margin: 0 auto;
	overflow: auto;
	padding: 75px 0;
}

#wrapper {
 	width: 100%;
}

body {
	font-family: 'Lato', sans-serif;
	line-height: 2em;
	color: #424242;
}

a {
	text-decoration: none;
}

/*****************************************
Header
******************************************/
header {
	width: 100%;
	text-transform: uppercase;
}


nav {
	float: right;
	width: 45%;
	margin-right: 5%;
	text-align: center;
	margin-top: 30px;
	display: none;
}

nav ul {
	list-style: none;
}

nav li {
	display: inline-block;
}

nav a {
  font-weight: 900;
  padding: 10px 15px;
  color: #fff;
  border-radius: 5px;
}

nav a:visited, nav a.active {
	color: #fff;
}


nav a.active {
	background-color: rgba(214,43,43,0.7);
}

nav a:hover {
  color: rgba(214,43,43,0.7);
}

nav a.active:hover {
	color: #fff;
}

.logo {
	float: left;
	width: 45%;
	margin-top: 20px;
	margin-left: 5%;
}

.logo a {
	border-bottom: 5px solid black;
	padding: 0px 5px 5px;
}

.logo h1 {
	font-family: 'Lato', cursive;
	display: inline-block;
	font-weight: bold;
	font-size: 2.5em;
}

.R {
	color: #fff;
}

#mobileNav {
	display: block;
	text-align: right;
	width: 45%;
}

#mobileNav li {
	margin-bottom: 10px;
	width: 100%;
}

#mobileNav a {
	width: 100%;
	background-color: rgba(214,43,43,0.7)
}

/*****************************************
Home
******************************************/
#home {
	padding: 200px 0;
	background-image: url(../img/startup-bw.jpg);
	background-size: cover;
}

#intro {
	color: #fff;
	font-weight: 900;
	font-size: 1.7em;
	line-height: 1.5em;
}

.topLine {
	display: inline-block;
}

.period {
	color: #d62b2b;
}

#name {
	color: #d62b2b;
}

/*****************************************
Portfolio
******************************************/
.projects {
	border-bottom: 1px solid #dddddd;
}

.thumbnail {
	width: 100%;
}

.projectDescription {
	width: 100%;
	font-size: 1.1em;
	margin-bottom: 20px;
}

.caption {
	text-align: center;
	font-size: 1.7em;
	margin-bottom: 10px;
	font-weight: 900;
	color: #6e6e6e;
}

.caption:hover {
	color: #8b8b8b;
}

#skillsList{
	text-align: center;
	margin-bottom: 10px;
}

#skills {
	display: inline;
	font-size: 0.8em;
	padding: 0 10px;
	background-color: #199785;
	margin-right: 5px;
	color: #fff;
	border-radius: 2px;
	font-weight: bold;
	text-transform: uppercase;
	box-shadow: 2px 2px 5px 0 rgba(132,132,132,0.75);
}

.projectBtn {
	text-align: center;
}

.projectLink {
	padding: 5px 10px;
	background-color: #d62b2b;
	color: #fff;
	border-radius: 2px;
	text-transform: uppercase;
	font-weight: bold;
	box-shadow: 1px 1px 5px 0 rgba(132,132,132,0.5);
}

.projectLink:hover {
	background-color: #da4040;
}

/*****************************************
About
******************************************/
#profile-photo {
	width: 0;
	float: left;
	border-radius: 100%;
	display: none;
}

#about p {
	width: 95%;
	float: right;
	font-size: 1.2em;
}

#mapDiv {
	width: 100%;
	height: 200px;
}

#about .caption {
	color: #d62b2b;
	font-family: 'Pacifico', cursive;
	width: 70%;
	font-size: 2em;
	margin: 0 auto 20px;
}

/*****************************************
Contact
******************************************/
	#businessCard {
		box-shadow: 5px 5px 10px 0px rgba(132,132,132,0.75);
		width: 85%;
		margin: 0 auto;
	}

	#cardLogo {
		display: none;
	}

	#contactMe {
  	padding: 20px;
  	font-size: 2em;
  	background-color: #d62b2b;
  	color: #fff;
  	background-image: url(../img/az-subtle.png);
	}

	#contactMeContainer {
		width: 100%;
		text-align: center;
	}

	#contact .R{
		color: #fff;
	}

	.contactInfo {
  	list-style: none;
  	margin-top: 10px;
  	margin-left: 30px;
  	width: 30%;
	}

	.contactInfo a {
	  display: block;
	  min-height: 20px;
	  background-repeat: no-repeat;
	  background-size: 25px 25px;
	  padding: 0 0 0 35px;
	  margin: 0 0 10px;
	  font-weight: bold;
	  color: #424242;
	}

	.contactInfo li.facebook a {
  	background-image: url('../img/social-media/facebook.png');
	}

	.contactInfo li.linkedin a {
  	background-image: url('../img/social-media/linkedin.png');
	}

	.contactInfo li.email a {
  	background-image: url('../img/social-media/email.png');
	}

	.contactInfo li.github a {
  	background-image: url('../img/social-media/github.png');
	}

/*****************************************
Footer
******************************************/
footer {
	text-align: center;
	color: #fff;
	width: 100%;
	background-color: #0b0b0b;
  background-image: url(../img/dark-mosaic.png);
  padding: 15px 0 5px;
}

.social-icon {
  width: 20px;
  height: 20px;
  padding: 0 10px;
}

/**********************************************************************************************
MEDIUM SCREENS
**********************************************************************************************/
@media screen and (min-width: 600px) {

	/*****************************************
	General
	******************************************/

	nav {
		width: 70%;
		margin-right: 5%;
		float: right;
		text-align: right;
		margin-top: 30px;
	}

	#mobileNav {
		display: none;
	}

	/*****************************************
	Portfolio
	******************************************/

	#skillsList{
	width: 100%;
	}
	
	/*****************************************
	About
	******************************************/
	#profile-photo {
		width: 25%;
		float: left;
		border-radius: 100%;
		display: block;
	}

	#about .caption {
		float: right;
		text-align: left;
	}

	#about p {
		width: 70%;
		float: right;
	}

	#about {
		text-align: left;
	}

	#mapDiv {
		height: 350px;
	}

	/*****************************************
	Contact
	******************************************/
	#businessCard {
		width: 500px;
		height: 300px;
		margin: 0 auto;
		background-color: #fff;
		box-shadow: 5px 5px 10px 0px rgba(132,132,132,0.75);
	}

	#businessCard .logo {
		border-bottom: 5px solid black;
		width: 50%;
		margin-top: 45%;
		margin-left: 60px;
		padding-bottom: 20px;
		font-size: 2.5em;
		text-align: center;
	}

	.logo {
	float: left;
	width: 20%;
	}

	#cardLogo {
	display: block;
	}	

	#leftHalf {
		width: 50%;
		height: 100%;
		float: left;
		background-color: #2c2c2c;
		background-image: url(../img/grey.png);
	}

	#rightHalf {
		width: 50%;
		height: 100%;
		float: right;
		background-color: #fff;
	}

	#contactMe {
  	padding: 20px;
  	font-size: 2em;
  	background-color: #d62b2b;
  	color: #fff;
  	background-image: url(../img/az-subtle.png);
	}

	#contactMeContainer {
		width: 100%;
		text-align: center;
	}

	#contact .R{
		color: #fff;
	}

	.contactInfo {
  list-style: none;
  margin-top: 30px;
  margin-left: 30px;
  width: 30%;
	}

}

/**********************************************************************************************
BIG SCREENS
**********************************************************************************************/

@media screen and (min-width: 1300px) {

	.container {
		max-width: 1000px;
		width: 100%;
		margin: 0 auto;
		overflow: auto;
		padding: 150px 0;
	}

	#toTop {
		width: 60px;
		height: 60px;
		display: none;
		position: fixed;
		right: 25px;
		top: 25px;
		background-image: url('../img/up-arrow-icon.png');
		background-size: 60px 60px;
	}

	#toTop:hover {
		cursor: pointer;
	}
	/*****************************************
	Header
	******************************************/

	nav {
		display: block;
		width: 45%;
		text-align: right;
	}

	/*****************************************
	Home
	******************************************/

	#intro {
	font-size: 2.5em;
	}

	/*****************************************
	Portfolio
	******************************************/

	.thumbnail {
		width: 55%;
		float: left;
		clear: right;
		margin-right: 1%;
	}

	.rightContainer {
		width: 44%;
		float: right;
	}

	.projectBtn {
		text-align: left;
	}

	.projectDescription {
		font-size: 1.1em;
	}

	.caption {
		text-align: left;
	}

	#skillsList{
	text-align: left;
	}

	/*****************************************
	About
	******************************************/

	#mapDiv {
		width: 100%;
		height: 450px;
	}

	/*****************************************
	Contact
	******************************************/
	#businessCard {
		width: 60%;
		height: 350px;
		margin: 0 auto;
		background-color: #fff;
		box-shadow: 5px 5px 10px 0px rgba(132,132,132,0.75);
	}

	#businessCard .logo {
		width: 35%;
		margin-top: 45%;
		margin-left: 100px;
		padding-bottom: 20px;
		font-size: 2.5em;
		text-align: center;
	}

	#leftHalf {
		width: 50%;
		height: 100%;
		float: left;
		background-color: #2c2c2c;
		background-image: url(../img/grey.png);
	}

	#rightHalf {
		width: 50%;
		height: 100%;
		float: right;
		background-color: #fff;
	}

	#contactMe {
  	padding: 20px;
  	font-size: 2em;
  	background-color: #d62b2b;
  	color: #fff;
  	background-image: url(../img/az-subtle.png);
	}

	#contactMeContainer {
		width: 100%;
	}

	#contact .R{
		color: #fff;
	}

	.contactInfo {
  list-style: none;
  margin-top: 50px;
  margin-left: 50px;

	}

}

